p,
h2,
h4 {
    margin: 0;
}

p {
    color: #707070;
}

h2 {
    color: #e6e6e6
}

h4 {
    color: #cacaca
}

.home {
    background-color: rgb(219, 218, 218);
    height: 100%;
}

.banner {
    height: 70px;
    background-color: #18294d;
    padding: 10px 20px 10px 20px;
    position: sticky;
}

.logoQs {
    height: 45px;
    width: 45px;
    object-fit: contain;
}

.separator {
    border: solid #ffffff5d 1px;

    height: 40px;
}

.qs {
    margin: 0;
    color: white;
    font-weight: bold;
}

.subqs {
    margin-top: -6px;
    color: rgba(238, 238, 238, 0.904);
}

.navBar,
a {
    color: white;
    font-weight: 700;
    font-size: medium;
    text-decoration: none;
}

.registerBtn {
    background-color: rgb(241, 174, 72);
    color: black;
    box-shadow: 0px 1px rgba(128, 124, 124, 0.25);
}

.topImage {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 40% 40%;
    filter: brightness(65%);
}


.colorIcon {
    color: #606060;
}

.infoDiv {
    border-radius: 5px;
    background-color: #31456D;
    padding: 10px;
    color: white;
    padding-bottom: 40px;
}

.userfooter {
    width: 100%;
    bottom: 0;
    height: 340px;
    background-color: transparent;
}

.footerLogo {
    padding-bottom: 10px;
}

.userfooter *>a {
    margin: 0;
    color: rgb(241, 174, 72);
}

.userfooter *>h4 {
    color: white;
}

.footerContent {
    background-color: #18294d;
}

.footerContent>h4 {
    margin-bottom: 10px;
    color: rgb(233, 233, 233);
}

.footerContent h5 {
    color: rgb(199, 199, 199);
}

.footerNav {
    padding-inline: 40px;
}

.inputFooterEmail {
    width: 230px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px rgba(128, 124, 124, 0.25);
}

