<mat-dialog-content>

    <div style="padding-bottom: 5px;">
        <h2 [ngStyle.lt-lg]="{'font-size': '15px'}"><b>{{titleDialog}}</b></h2>
        <mat-divider></mat-divider>
    </div>

    <div>
        <h3>{{subtitleDialog}} <b style="color: rgb(82, 25, 134);"> {{subtitleStrong}} </b></h3>
    </div>

    <form [formGroup]="controlForm" fxLayout="column" (submit)="crearProject()">

        <div fxLayout="row" fxLayoutGap="5" class="formFRow">

            <div style="position: relative;">
                <img class="thumbnail" [src]="defImg">

                <button type="button" mat-flat-button mat-flat-button color="primary"
                    style="position: absolute; bottom: 10px; right: 10px;" (click)="fileImgInput.click()">
                    <mat-icon class="colorIcon">file_upload</mat-icon>
                </button>

                <input hidden (change)="onFileSelected2($event)" #fileImgInput [accept]="aceeptedImgFiles" type="file"
                    id="fileImg">

            </div>

            <div fxLayout="column" fxFlex="70">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre del Proyecto</mat-label>
                    <input matInput #prjname type="text" formControlName="projectName" maxlength="100" required="true">
                    <mat-hint align="end">{{prjname.value.length}} / 100</mat-hint>
                    <mat-error *ngIf="controlForm.get('projectName')?.hasError('required')"> Ingrese el nombre
                        del <strong>Proyecto</strong> </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <textarea #descript matInput maxlength="250" type="text" formControlName="descript"></textarea>
                    <mat-hint align="end">{{descript.value.length}} / 250</mat-hint>
                </mat-form-field>
            </div>

        </div>

        <form [formGroup]="controlForm2">
            <div class="dndZoneContainer">

                <div class="dndZone" fxLayout="row" fxLayoutGap="5">

                    <div class="inputUrl" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2" fxFlex="80">

                        <input matInput type="text" formControlName="url"
                            placeholder="Ejm: https://ncn.pe/files/NC.NCN01.00.HNZ.xml">

                        <button [disabled]="btnDisable" type="button" mat-icon-button (click)="fileInput.click()">
                            <mat-icon class="colorIcon">file_upload</mat-icon>
                        </button>

                        <input hidden (change)="onFileSelected($event)" #fileInput [accept]="aceeptedFiles" type="file"
                            id="file">
                    </div>

                    <button [disabled]="btnDisable" type="button" mat-flat-button color="primary" fxFlex="20"
                        (click)="addUrl()">
                        <mat-icon>add</mat-icon>
                        <span fxHide.lt-md="true">Añadir</span>
                    </button>

                </div>

            </div>
        </form>

        <div *ngIf="showProgressBar">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <!-- <table mat-table>

        </table> -->

        <div class="filesContainer">

            <div fxLayout="row" fxLayoutAlign="space-around center"
                style="background-color: rgb(245, 245, 245); border-radius: 5px; padding: 5px;">
                <p class="filename"> <b>NOMBRE</b> </p>
                <p class="filename"> <b>FORMATO</b> </p>
                <p class="filename"> <b>ESTADO</b> </p>
                <p class="filename"> <b>ACCION</b> </p>
            </div>

            <div *ngFor="let item of addedFiles; let i = index" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="row">
                    <p class="filename" matTooltip="{{item.originalName}}" matTooltipPosition="above"> {{item.fileName}}
                    </p>
                    <mat-icon style="color: rgb(155, 155, 155); font-size: 15px;" matTooltip="{{item.info || 'Not Found'}}">help_outline</mat-icon>
                </div>
                <p class="filename"> {{item.extension}} </p>
                <p class="filename" [ngStyle]="setColorStationChannel(item.status)"> {{item.status}}
                    <!-- <mat-progress-bar itemref="showCalibration" mode="indeterminate">
                    </mat-progress-bar> -->
                </p>

                <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 110px;">
                    <button mat-icon-button type="button" matTooltip="Calibrar" [disabled]="item.status == 'Calibrado' "
                        (click)="calibrarFile(item, i)">
                        <mat-icon>construction</mat-icon>
                    </button>
                    <button mat-icon-button type="button" matTooltip="Borrar" (click)="delFile(item)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div>
            <mat-checkbox formControlName="checkOps">Realizar Merge</mat-checkbox>
            <!-- <div *ngIf="this.controlForm.get('checkOps').value" [@enterAnimation2]>
                <mat-form-field appearance="outline">
                    <mat-label>Merge</mat-label>
                    <input matInput>
                </mat-form-field>
            </div> -->
        </div>

        <button mat-flat-button color="primary" type="submit">
            {{buttonSubmitForm}}
        </button>

    </form>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="close()">
        Cerrar
    </button>
</mat-dialog-actions>