<div>

    <div class="winTitle">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10">
            <h2><b>Mis Proyectos </b></h2>
            <h2> {{name || 'Asd User Test'}} </h2>
            <h4>{{usere || 'asd@example.com'}}</h4>
        </div>

        <h4>Aca encontrarás tus projectos</h4>
    </div>

    <button class="newProjectBtn" mat-raised-button type="button" matTooltip="Crear Proyecto" matTooltipPosition="right"
        (click)="crearProyecto()">
        <mat-icon class="colorIcon">add</mat-icon>
    </button>

    <div style="padding: 20px 0 0 0;">
        <h4 *ngIf="showmsg">Si es usuario con <a style=" cursor: pointer; text-decoration: underline;">plan gratuito</a>
            solo tiene
            permitido crear 5 proyectos con 5 archivos.Para mas detalles <a
                style=" cursor: pointer; text-decoration: underline;" href="mailto:informes@ncn.pe">informes@ncn.pe</a>
        </h4>
    </div>

    <div>
        <div *ngIf="loadingSpinner">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>


    <div class="projectContainer" fxLayout="column" fxLayoutGap="10">

        <div fxLayout="row" fxLayoutGap="5">

            <div class="inputUrl" fxLayout="row" fxLayoutGap="5" fxFlex="50">
                <mat-icon class="colorIcon">search</mat-icon>
                <input matInput type="text" placeholder="Busque por Titulo, Fecha o Archivo" [(ngModel)]="buscarTexto">
            </div>

        </div>


        <div *ngFor="let proj of proyectos; let i = index">

            <mat-card *ngIf="filterDataT(proj)" [class.mat-elevation-z0]="true" >

                <mat-card-content>

                    <div fxLayout="row" fxLayoutGap="10">

                        <img mat-card-md-image [src]="proj.img == null ? '/assets/ncnLogoColor.png' : proj.img ">
                        <div fxLayout="column" fxLayoutGap="3" style="width: 100%;">

                            <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10">

                                <div fxLayout="column">
                                    <mat-card-title>{{proj.name || 'Sin Tutulo'}}</mat-card-title>
                                    <mat-card-subtitle style="margin-bottom: 0;">{{proj.fecha_creacion | date:
                                        'short'}}</mat-card-subtitle>
                                </div>

                                <div style="height: 40px;" fxLayout="row" fxLayoutGap="10">
                                    <button mat-flat-button color="warn" [disabled]="disableBtns" (click)="delProj(proj)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button mat-flat-button color="accent" [disabled]="disableBtns" (click)="editProyec(proj)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-flat-button color="primary" [disabled]="disableBtns" (click)="abrirLector(proj)">
                                        <mat-icon>open_in_new</mat-icon>
                                        Abrir
                                    </button>
                                </div>

                            </div>

                            <mat-divider></mat-divider>

                            <div>
                                <mat-accordion>
                                    <mat-expansion-panel [class.mat-elevation-z0]="true">

                                        <mat-expansion-panel-header>
                                            Ver mas
                                        </mat-expansion-panel-header>

                                        <h4><b>Descripcion:</b></h4>
                                        <pre>{{proj.descrip || 'No hay Descripcion'}}</pre>
                                        <br>

                                        <h4><b>Archivos:</b></h4>
                                        <div *ngFor="let item of proj.files">
                                            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10">
                                                <h5 style="overflow: hidden;"><b>{{item.filename}}</b> </h5>
                                                <a [href]="item.file">Descargar</a>
                                            </div>
                                            <mat-divider></mat-divider>
                                        </div>


                                    </mat-expansion-panel>


                                </mat-accordion>
                            </div>
                        </div>
                    </div>

                </mat-card-content>

                <!-- <mat-card-actions align="end" fxLayoutGap="10">
                    <button mat-flat-button color="warn" (click)="delProj(proj)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-flat-button color="accent" (click)="editProyec(proj)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-flat-button color="primary" (click)="abrirLector(proj)">
                        <mat-icon>open_in_new</mat-icon>
                        Abrir
                    </button>
                </mat-card-actions> -->

            </mat-card>

        </div>

        <mat-paginator [length]="totalElementos" [pageSize]="10" [pageSizeOptions]="[5,10,25]"
            (page)="onPageChange($event)">
        </mat-paginator>

    </div>


</div>