h1,
h2,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    color: #444444
}

h4 {
    color: #747474;
}

h5,
h6 {
    font-size: 13px;
}

.winTitle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.newProject {
    border-radius: 5px;
    padding: 10px;
    background-color: #d3d3d3;
    height: 150px;
    width: 250px;
    cursor: pointer;
}

.newProjectBtn {
    height: 100px;
    width: 150px;
    background-color: #d3d3d3;
}

.colorIcon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    color: #a1a1a1;
}

.projectContainer {
    width: 100%;
    padding: 20px 0 20px 0;
    height: auto;
}