<div>

    <div class="winTitle">
        <h2><b>Mis Proyectos</b></h2>
        <h4>Aca encontrarás tus projectos</h4>
    </div>

    <button class="newProjectBtn" mat-raised-button type="button" (click)="crearProyecto()">
        <mat-icon class="colorIcon">add</mat-icon>
    </button>

    <div class="projectContainer" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10">

        <div *ngFor="let proj of proyectos; let i = index">
            <div class="newProject" fxLayout="column" fxLayoutGap="5" fxLayoutAlign="center start">
                <!-- <mat-icon class="colorIcon">add</mat-icon> -->
                <div fxLayout="row" fxLayoutGap="10">
                    <img class="thumbnail" src="/assets/ncnLogoColor.png">
                    <div fxLayout="column">
                        <h4> <b>{{proj.name}}</b> </h4>
                        <h5> {{proj.descrip}} </h5>
                        <h4> {{proj.fecha_creacion | date: 'short'}}</h4>
                    </div>
                </div>
                <h4>Archivos</h4>
                <div *ngFor="let item of proj.files" style="width: 100%; padding-bottom: 2px;">
                    <h5><b>{{item.filename}}</b> </h5>
                </div>
                <div fxLayout="row">
                    <div class="spacer"></div>
                    <button mat-flat-button color="primary" (click)="abrirLector(proj)">
                        <mat-icon>open_in_new</mat-icon>
                        Abrir Proyecto
                    </button>
                </div>

            </div>
        </div>

        <!-- <div *ngIf="loadingSpinner" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center"
            style="padding-top: 20%;">
            <mat-progress-spinner mode="indeterminate" style="margin:0 auto;" [diameter]="50"></mat-progress-spinner>
            <h3> <b>Cargando Datos ....</b> </h3>
        </div> -->

    </div>


</div>