.example-container {
    height: 100%;
}

.example-sidenav {
    user-select: none;
    background: #31456D;
    /* rgb(8, 20, 53)
    /* background: linear-gradient(180deg, rgba(38, 66, 37, 1) 0%, rgba(58, 99, 57, 1) 53%, rgba(23, 55, 80, 1) 100%); */
    border-right: 0px;
}

.logoContainer {
    padding-left: 8px;
    padding-top: 10px;
    cursor: pointer;
}

.logoQs {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.empTitle {
    font-weight: 600;
    color: white;
    margin: 0;
    font-size: 23px;
}

.empsubTitle {
    font-weight: 400;
    color: rgb(233, 233, 233);
}

.separator {
    padding-top: 10px;
    padding-inline: 10px;
}

.separator mat-divider {
    border-top-color: rgba(255, 255, 255, 0.5);
    border-width: 2px;
    width: 100%;
}



.inputUrl {
    width: 450px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px rgba(128, 124, 124, 0.25);
}

.logoContainer mat-icon {
    color: white;
    font-size: 30px;
    overflow: visible;
}

.sidenavList mat-icon {
    color: white;
    font-size: 30px;
    overflow: visible;
}

.sidenavList h2 {
    width: 150px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    margin: 0;

}

/* .iconNavList mat-icon {
    color: white;
    font-size: 30px;
    overflow: visible;
} */



/* .iconNavList h2 {
    margin: 0px;
    color: white;
    font-weight: 500;
    font-size: 15px;
} */