<div class="banner" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="center center">
        <img class="logoQs" src="/assets/ncnLogo.png">
        <mat-divider class="separator" vertical="true"></mat-divider>
        <div fxLayout="column" fxLayoutAlign="center start" routerLink="/home" style="cursor: pointer;">
            <h1 class="qs">QuakeSense</h1>
            <h4 class="subqs">Nuevo Control</h4>
        </div>
    </div>

    <div fxLayout="row" fxHide.lt-md fxLayoutGap="30" fxLayoutAlign="center center" class="navBar">
        <a routerLink="/home">INICIO</a>
        <a routerLink="/lectorDemo">LECTOR ACEL.</a>
        <a>ACERCA DE</a>
        <a>CONTACTO</a>
    </div>

    <div fxHide.lt-md class="actionBtn">

        <button mat-button style="color: white;">
            Identificarse
        </button>

        <button mat-flat-button class="registerBtn">
            Registro
        </button>

    </div>

    <div fxShow="false" fxShow.lt-md>

        <button fxHide.lt-sm mat-icon-button >
            <mat-icon class="coloIconTop">login</mat-icon>
        </button>

        <button fxHide.lt-sm mat-icon-button >
            <mat-icon class="coloIconTop2">person</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="coloIconTop">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>INICIO</span>
            </button>
            <button mat-menu-item routerLink="/lectorDemo">
                <mat-icon>voicemail</mat-icon>
                <span>LECTOR ACEL.</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>ACERCA DE</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>CONTACTO</span>
            </button>
        </mat-menu>

    </div>

</div>