<div class="banner" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="center center">
        <img class="logoQs" src="/assets/ncnLogo.png">
        <mat-divider class="separator" vertical="true"></mat-divider>
        <div fxLayout="column" fxLayoutAlign="center start" routerLink="/home" style="cursor: pointer;">
            <h1 class="qs">QuakeSense</h1>
            <h4 class="subqs">Nuevo Control</h4>
        </div>
    </div>

    <div fxLayout="row" fxHide.lt-md fxLayoutGap="30" fxLayoutAlign="center center" class="navBar">
        <a routerLink="/home">INICIO</a>
        <a routerLink="/lectorDemo">LECTOR ACEL.</a>
        <a routerLink="/acerca">ACERCA DE</a>
        <a>CONTACTO</a>
    </div>

    <div *ngIf="hideCommonAuth" fxHide.lt-md class="actionBtn">

        <button mat-icon-button class="bell" (click)="ringBell()">
            <mat-icon class="bellIcon">notifications_active</mat-icon>
        </button>

        <button mat-button style="color: white;" (click)="redirect()">
            Identificarse
        </button>

        <button mat-flat-button class="registerBtn" (click)="redirectRegister()">
            Registro
        </button>

    </div>

    <div *ngIf="hideCommonAuth" fxShow="false" fxShow.lt-md>

        <button mat-icon-button class="bell" (click)="ringBell()">
            <mat-icon class="bellIcon">notifications_active</mat-icon>
        </button>

        <button fxHide.lt-sm mat-icon-button (click)="redirect()">
            <mat-icon class="coloIconTop">login</mat-icon>
        </button>

        <button fxHide.lt-sm mat-icon-button (click)="redirectRegister()">
            <mat-icon class="coloIconTop2">person</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="coloIconTop">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item fxShow="false" fxShow.lt-sm (click)="redirect()">
                <mat-icon>login</mat-icon>
                <span>Login</span>
            </button>
            <button mat-menu-item fxShow="false" fxShow.lt-sm>
                <mat-icon>person_add</mat-icon>
                <span>Registro</span>
            </button>
            <button mat-menu-item routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>INICIO</span>
            </button>
            <button mat-menu-item routerLink="/lectorDemo">
                <mat-icon>sensors</mat-icon>
                <span>LECTOR ACEL.</span>
            </button>
            <button mat-menu-item routerLink="/acerca">
                <mat-icon>comment_bank</mat-icon>
                <span>ACERCA DE</span>
            </button>
            <button mat-menu-item>
                <mat-icon>contact_page</mat-icon>
                <span>CONTACTO</span>
            </button>
        </mat-menu>

    </div>

    <div *ngIf="showUserNav" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="center center">
        <!-- <img class="avatar"   > -->
        <span class="username"> {{apiAuth.name || 'Waiting User..'}} </span>
        <button mat-icon-button [matMenuTriggerFor]="menuUser" aria-label="Example icon-button with a menu">
            <mat-icon class="coloIconTop">more_vert</mat-icon>
        </button>
        <mat-menu #menuUser="matMenu">
            <button mat-menu-item fxShow="false" fxShow.lt-sm (click)="redirect()">
                <mat-icon>login</mat-icon>
                <span>Login</span>
            </button>
            <button mat-menu-item routerLink="/user">
                <mat-icon>person_add</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-menu-item routerLink="/user/lectorAcel">
                <mat-icon>sensors</mat-icon>
                <span>Lector Acel.</span>
            </button>
            <button mat-menu-item (click)="redirect()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar Sesion</span>
            </button>
        </mat-menu>
    </div>


</div>

<div [hidden]="animateBell" class="lastsis">

    <div fxLayout="column" fxLayoutAlign="center center">
        <h5 style="margin: 0;">Último sismo detectado con</h5>
        <a class="acelRedi" matTooltip="Reftek SMA2" matTooltipPosition="left" (click)="redirectAcel()">Acelerógrafo</a>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <iframe src="https://ncn.pe/ultimo.php" width="200" height="320"
            style="overflow: hidden;margin: 0; padding: 0; border: 0px solid black;">
        </iframe>
    </div>

    <a class="scriRedi" (click)="redirectScri()" matTooltip="(NCN WIDGET) Ultimo Sismo" matTooltipPosition="left">Copia este script a tu página Web</a>

</div>