<div class="banner" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="center center">
        <img class="logoQs" src="/assets/ncnLogo.png">
        <mat-divider class="separator" vertical="true"></mat-divider>
        <div fxLayout="column" fxLayoutAlign="center start" routerLink="/home" style="cursor: pointer;">
            <h1 class="qs">QuakeSense</h1>
            <h4 class="subqs">Nuevo Control</h4>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="30" fxLayoutAlign="center center" class="navBar">
        <a routerLink="/home">INICIO</a>
        <a routerLink="/lectorDemo" >LECTOR ACEL.</a>
        <a>ACERCA DE</a>
        <a>CONTACTO</a>
    </div>

    <div>

        <button mat-button style="color: white;">
            Identificarse
        </button>

        <button mat-flat-button class="registerBtn">
            Registro
        </button>

    </div>

</div>