<mat-dialog-content>

    <div fxLayout="column" fxLayoutGap="10">

        <div style="padding-bottom: 5px;">
            <h2 [ngStyle.lt-lg]="{'font-size': '15px'}"><b>ESTACIONES ENCONTRADAS</b></h2>
            <mat-divider></mat-divider>
        </div>

        <div>
            <h3>* Si su archivo ya esta <b>Calibrado</b> marque <b>Rellenar</b>, especifique la <b>Unidad de
                    Aceleracion</b> y <b style="color: rgb(82, 25, 134);">Calibrar Trazas</b></h3>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10" fxFlex>

            <div class="listSt" fxLayout="column" fxLayoutGap="5" fxFlex.lt-md="50" fxFlex="40">

                <div class="scrlSta" fxLayout="column">

                    <div *ngIf="loadingSpinnerStaInfo" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center"
                        style="padding-top: 20%;">
                        <mat-progress-spinner mode="indeterminate" style="margin:0 auto;"
                            [diameter]="50"></mat-progress-spinner>
                        <h3> <b>Cargando Estaciones ....</b> </h3>
                    </div>

                    <ng-container style="width: 100%;" *ngFor="let sta of groupedData | keyvalue; let i = index">
                        <div style="width: 100%;"
                            [ngClass]="{'selected-group': selectedGroup === sta.key, 'color-impar': i % 2 === 0, 'color-par': i % 2 !== 0}"
                            (click)="selectGroup(sta.key)" fxLayout="column" fxLayoutGap="3"
                            fxLayoutAlign="space-around">
                            <ng-container *ngFor="let item of getGroupValues(sta)">
                                <div fxLayout="row" fxLayoutAlign="space-around center"
                                    style="cursor: pointer; padding: 3px;">
                                    <mat-icon style="color: white;">router</mat-icon>
                                    <p> {{item.network}} </p>
                                    <p> {{item.station}} </p>
                                    <p> {{item.location || '-'}}</p>
                                    <p style="padding: 1px 4px 1px 4px; border-radius: 3px;"
                                        [ngStyle]="setColorStationChannel(item.channel)">
                                        {{item.channel}} </p>
                                </div>
                            </ng-container>
                        </div>

                    </ng-container>

                </div>

                <div class="scrlSta2" fxLayout="column" fxLayoutAlign="start center">

                    <div *ngIf="loadingSpinnerStaInfo" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center"
                        style="padding-top: 20%;">
                        <mat-progress-spinner mode="indeterminate" style="margin:0 auto;"
                            [diameter]="50"></mat-progress-spinner>
                        <h3> <b>Cargando Factores ....</b> </h3>
                    </div>

                    <div *ngIf="showRegUser" style="padding-top: 20%;">
                        <h4 style="text-align: center;">Registrese para Guardar sus <br><b>Factores de Calibracion</b>
                        </h4>
                    </div>

                    <div *ngIf="showCalib" fxLayout="column" fxLayoutGap="5" style="width: 100%;">
                        <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="space-between center" style="padding: 5px;">
                            <h3><b>Factores de Calibracion</b></h3>
                            <button mat-flat-button color="primary" style="height: 30px;"
                                (click)="rellenarFactoresUser()">
                                Rellenar
                            </button>
                        </div>

                        <div class="inputUrl" fxLayout="row" fxLayoutGap="5">
                            <mat-icon class="colorIcon">search</mat-icon>
                            <input matInput type="text" placeholder="Ejm: Estacion, Canal" [(ngModel)]="buscarTexto">
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-around"
                            style="background-color: white; border-radius: 5px; padding: 5px;">
                            <h5> NET. </h5>
                            <h5> STA. </h5>
                            <h5> LOC. </h5>
                            <h5> CHA. </h5>
                            <h5> CAL. </h5>
                        </div>

                        <div *ngFor="let item of calibCoinc">
                            <div *ngIf="filterDataT(item)" fxLayout="row" fxLayoutAlign="space-around"
                                style="background-color: white; border-radius: 5px; padding: 5px;">
                                <h5> {{item.network}} </h5>
                                <h5> {{item.station}} </h5>
                                <h5> {{item.location || '-'}}</h5>
                                <h5 style="padding: 1px 4px 1px 4px; border-radius: 3px; color: white; font-weight: bold;"
                                    [ngStyle]="setColorStationChannel(item.channel)"> {{item.channel}} </h5>
                                <h5> {{
                                    (item.calib === 1) ?
                                    1 :
                                    (item.calib < 1 && item.calib>= 0.001) ?
                                        item.calib.toFixed(3) :
                                        item.calib.toExponential(2)
                                        }}
                                </h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="dndZoneContainer" fxFlex.lt-md="50" fxFlex="60">

                <div class="dndZone" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
                    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
                        <h4>Ingrese URL o Archivo Valido (XML)</h4>
                        <span></span>
                    </div>
                    <form [formGroup]="controlForm" style="width: 100%;" fxLayout="row" fxLayoutAlign="center center"
                        fxLayoutGap="10" (submit)="leerArchivo()">

                        <div class="inputUrl" [ngStyle.lt-sm]="{'width': '250px'}" fxLayout="row"
                            fxLayoutAlign="center center" fxLayoutGap="2">

                            <input matInput type="text" formControlName="url"
                                placeholder="Ejm: https://ncn.pe/files/NC.NCN01.00.HNZ.xml">

                            <button [disabled]="btnDisable" type="button" mat-icon-button (click)="fileInput.click()">
                                <mat-icon class="colorIcon">file_upload</mat-icon>
                            </button>

                            <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
                        </div>

                        <!-- TODO: EVAULAR SU ELIMINACION -->
                        <button [disabled]="btnDisable" type="submit" mat-flat-button color="primary">
                            <mat-icon>check</mat-icon>
                        </button>

                    </form>

                    <div *ngIf="!btnCancel">
                        <div class="uploadbtnComplete" fxLayout="row" fxLayoutAlign="center center">
                            <h3 style="margin: 0; padding-left: 10px; font-size: 10px;"> {{arch?.name}} </h3>
                            <button mat-icon-button type="button" (click)="deleteFile()">
                                <mat-icon inline="true">close</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
                        <h4>o Ingrese Valores de Calibracion</h4>
                        <mat-checkbox [disabled]="btnDisableForm" (change)="rellenarFactores($event)" color="primary"
                            labelPosition="before">Rellenar</mat-checkbox>
                    </div>

                    <form [formGroup]="controlForm2" (submit)="enviarCalibracion()" fxLayout="column"
                        fxLayoutAlign="center center" style="width: 100%;">

                        <mat-form-field appearance="outline" class="mtff">
                            <mat-label>Unidad de Aceleracion</mat-label>
                            <mat-icon matPrefix>speed</mat-icon>
                            <mat-select formControlName="unitst">
                                <mat-option value="">unk</mat-option>
                                <mat-optgroup label="Aceleracion">
                                    <mat-option value="m">m/s2</mat-option>
                                    <mat-option value="gal">cm/s2</mat-option>
                                    <mat-option value="inch" disabled>in/s2</mat-option>
                                    <mat-option value="feet" disabled>ft/s2</mat-option>
                                </mat-optgroup>
                                <mat-optgroup label="Velocidad">
                                    <mat-option value="cm">cm/s</mat-option>
                                    <mat-option value="ms">m/s</mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>

                        <div class="columGen">
                            <div *ngFor="let itm of tempdata;let i = index">

                                <mat-form-field appearance="outline" class="mtff">
                                    <mat-label>{{itm.station + '.' + itm.location + '.' + itm.channel ||
                                        ''}}</mat-label>
                                    <mat-icon class="colorIconSubBar" matPrefix>track_changes</mat-icon>
                                    <input matInput type="number" formControlName='c_{{i}}'>
                                </mat-form-field>

                                <!-- <mat-form-field appearance="outline" class="mtfs">
                                    <mat-label>C {{i+1}}</mat-label>
                                    <mat-icon class="colorIconSubBar" matPrefix>track_changes</mat-icon>
                                    <input matInput formControlName='cc_{{i}}' type="number">
                                </mat-form-field> -->

                            </div>
                        </div>
                        <br>

                        <button [disabled]="btnDisableForm" type="submit" mat-flat-button color="primary">
                            <mat-icon>check</mat-icon>
                            Calibrar Trazas
                        </button>
                    </form>
                </div>

            </div>

        </div>

        <div *ngIf="loadingBarSpinner">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions>
    <div>
        <button mat-flat-button color="warn" (click)="Close()">
            Cerrar
        </button>
    </div>

</mat-dialog-actions>