p,
h2,
h4 {
    margin: 0;
}

p {
    color: #707070;
}

h2 {
    color: #e6e6e6
}

h4 {
    color: #cacaca
}

.home {
    background-color: rgb(219, 218, 218);
    height: 100%;
}

.topImage {
    height: 550px;
    width: 100%;
    object-fit: cover;
    object-position: 40% 40%;
    filter: brightness(65%);
}

.demoLector {
    width: 140px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(241, 174, 72);
    color: white;
    box-shadow: 0px 1px rgba(128, 124, 124, 0.25);
}

.colorIcon {
    color: #606060;
}

.sendInfo {
    width: 100px;
}

.uploadbtn {
    width: 220px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(241, 174, 72);
    color: white;
    box-shadow: 0px 1px rgba(128, 124, 124, 0.25);
}

.upTitleMin {
    color: rgb(241, 174, 72);
    font-weight: 600;
    font-size: 17px;
}

.titleMin {
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-size: 18px;
}

.downtitleMin {
    color: rgb(73, 73, 73);
    font-size: 16px;
    text-align: center;
    padding: 10px;

}

.toolItem {
    width: 320px;
    height: 300px;
    border: 0.1px solid rgb(223, 223, 223);
    padding: 15px;
}

.toolItemIcon {
    overflow: visible;
    font-size: 70px;
    width: 70px;
    height: 70px;
    color: rgb(241, 174, 72);
}

.toolItemTitle {
    color: rgb(110, 110, 110);
    font-weight: 600;
    font-size: 17px;
}

.toolItemDivider {
    width: 90px;
    border: solid rgb(241, 174, 72) 1px;
}

.toolItemDescription {
    padding-top: 10px;
    padding-left: 60px;
    font-size: 14px;
    
}

.infoDiv {
    border-radius: 5px;
    background-color: #31456D;
    padding: 10px;
    color: white;
    padding-bottom: 40px;
}