<div class="home" fxLayout="column">

    <app-nav-bar></app-nav-bar>

    <div style="height: 600px ;">

        <img src="/assets/mine.jpg" class="topImage">

        <div style="position: absolute; top: 300px; padding-inline: 80px;" fxLayout="row" fxLayoutAlign="space-around">

            <div fxHide.lt-md fxLayout="column" fxLayoutGap="15">
                <p style="color: white; font-size: 35px;"><strong>Lorem, ipsum dolor sit amet</strong> </p>
                <p style="color: rgb(207, 207, 207); font-size: 20px; width: 350px;">Lorem, ipsum dolor sit amet
                    consectetur adipisicing elit. Ex sapiente voluptate, perspiciatis ut enim</p>
                <div class="demoLector" fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>call_made</mat-icon>
                    <button mat-button>Version Demo</button>
                </div>
                
            </div>

        </div>

    </div>

    <div class="bodyHome" fxLayout="column" fxLayoutAlign="center center">
        <br>
        <br>
        <br>
        <button mat-button (click)="getJsonResponse()">Probar Token</button>
        <p> {{IniResp}} </p>
        <p> {{errorNot}} </p>
        <pre> {{resp | json}} </pre>
        <br>
        <br>
        <br>
    </div>

    <app-footer-bar></app-footer-bar>

</div>