<mat-dialog-content>

    <div fxLayout="column" style="padding-bottom: 10px;">
        <h2>Edicion del Archivo (.txt)</h2>
        <h4>Seleccione la Fila con los datos de la Estacion</h4>
        <mat-divider></mat-divider>
    </div>

    <div *ngIf="loadingSpinnerText" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div fxLayout="row" fxLayoutGap="10" fxLayout.lt-sm="column">

        <div fxLayout="column" fxLayoutAlign="start center">
            <div class="txtContainer">
                <pre [hidden]="showText" contenteditable="false" (click)="onPreClick($event)" #myPre>
                    {{infoText}}
                </pre>
            </div>

        </div>

        <form [formGroup]="controlForm" fxLayout="column" fxLayoutAlign="start center" (submit)="crearSteam()">

            <h4> Localizacion de Datos </h4>
            <div fxLayout="row" fxLayoutGap="5">
                <mat-form-field appearance="outline" class="mtff">
                    <mat-label>Primera Linea</mat-label>
                    <input matInput formControlName="fr_line">
                </mat-form-field>

                <mat-form-field appearance="outline" class="mtff">
                    <mat-label>Ultima Linea</mat-label>
                    <input matInput formControlName="ls_line">
                </mat-form-field>
            </div>

            <h4> Muestreo y Unidad </h4>
            <div fxLayout="row" fxLayoutGap="5">
                <mat-form-field appearance="outline" class="mtff">
                    <mat-label>Muestreo (delta)</mat-label>
                    <input matInput formControlName="delta">
                </mat-form-field>

                <mat-form-field appearance="outline" class="mtff">
                    <mat-label>Unidad</mat-label>
                    <mat-icon class="colorIconSubBar" matPrefix>straighten</mat-icon>
                    <mat-select formControlName="unidad">
                        <mat-optgroup label="Aceleracion">
                            <mat-option value="gal">cm/s2 [GAL]</mat-option>
                            <mat-option value="m">m/s2</mat-option>
                            <mat-option value="g">g [Gravedad]</mat-option>
                            <mat-option value="mg">mg</mat-option>
                        </mat-optgroup>
                        <mat-optgroup label="Velocidad">
                            <mat-option value="cm">cm/s</mat-option>
                            <mat-option value="ms">m/s</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>

            <span fxLayout="row" fxLayoutGap="3">
                <h4> Asignacion de Columnas</h4>
                <mat-icon style="color: rgb(155, 155, 155); font-size: 15px;">help_outline</mat-icon>
            </span>

            <div>

                <div *ngIf="loadingSpinnerText" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center center">
                    <mat-progress-spinner mode="indeterminate" style="margin:0 auto;"
                        [diameter]="50"></mat-progress-spinner>
                    <h3> <b>Cargando Columnas ....</b> </h3>
                </div>

                <div class="columGen">

                    <div *ngFor="let itm of columnDetector; let i = index">
                        <mat-form-field appearance="outline" class="mtff">
                            <mat-label>Columna {{i+1}}</mat-label>
                            <mat-icon class="colorIconSubBar" matPrefix>track_changes</mat-icon>
                            <mat-select formControlName='c_{{i}}'>
                                <mat-option *ngFor="let itms of columnDetector; let is = index" [value]="itms">
                                    Col {{is+1}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngFor="let itm of columHead;let i = index">
                        <mat-form-field appearance="outline" class="mtff">
                            <mat-label>Canal {{i+1}}</mat-label>
                            <mat-icon class="colorIconSubBar" matPrefix>track_changes</mat-icon>
                            <mat-select formControlName='cc_{{i}}'>
                                <mat-option value="T">Tiempo</mat-option>
                                <mat-option *ngFor="let itms of columHead;let i = index" [value]="itms">
                                    {{itms}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>



            </div>
            <br>

            <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="center center" >
                <mat-checkbox labelPosition="before"  formControlName="ckInfo" >Datos del Acelerografo </mat-checkbox>
            </div>

            <div *ngIf="this.controlForm.get('ckInfo').value" fxLayout="row" fxLayoutGap="5">
                <mat-form-field appearance="outline" class="mtff">
                    <mat-label>Network</mat-label>
                    <input matInput formControlName="network">
                </mat-form-field>

                <mat-form-field appearance="outline" class="mtff">
                    <mat-label>Station</mat-label>
                    <input matInput formControlName="station">
                </mat-form-field>

            </div>

            <div *ngIf="this.controlForm.get('ckInfo').value" fxLayout="row" fxLayoutGap="5">
                <mat-form-field appearance="outline" class="mtff">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location">
                </mat-form-field>
                <mat-form-field appearance="outline" class="mtff">
                    <mat-label>Start Time</mat-label>
                    <input matInput formControlName="starttime" [ngxMatDatetimePicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker [showSpinners]='true' #picker color="primary">
                    </ngx-mat-datetime-picker>
                </mat-form-field>
            </div>

            <!-- <div *ngFor="let itm of columnDetector;let i = index" style="padding-bottom: 10px;">
                <mat-form-field appearance="outline">
                    <mat-label>Columna {{i+1}}</mat-label>
                    <mat-icon class="colorIconSubBar" matPrefix>track_changes</mat-icon>
                    <mat-select formControlName='c_{{i}}'>
                        <mat-option value="T">Tiempo</mat-option>
                        <mat-option *ngFor="let opt of channels; let ind = index" [value]="opt">
                            {{ opt }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <br>
            <button type="submit" class="sendInfo" mat-raised-button color="primary">
                <mat-icon>query_stats</mat-icon>
                LEER DATOS
            </button>

        </form>

    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <div>
        <button mat-flat-button color="warn" (click)="Close()">
            Cerrar
        </button>
    </div>

</mat-dialog-actions>