/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.container {
    margin: 0px;
    padding: 0 15px 15px 15px;
}

.snackBar-validator {
    font-size: 25px !important;
    background-color: #31456D;
}

.mat-input-element {
    font: inherit;
    background: rgba(0, 0, 0, 0);
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    box-sizing: content-box;
}

.btnImageViewerx {
    background-color: #31456D;
    height: 40px;
    width: 40px;
    color: #fff;
    border: none;
    border-radius: 50%;
    /* cursor: pointer;
    top: 15px;
    bottom: unset !important; */
}

@keyframes pulse {
	0% {
		opacity: 1;
		transform: scale(0.2);
	}

	80% {
		opacity: 0;
		transform: scale(1.2);
	}

	100% {
		opacity: 0;
		transform: scale(2.2);
	}
}

.pulse {
    animation: pulse 2s infinite;
    padding-right: 20px;
    cursor: pointer;
}